asgiref==3.11.1
black==26.5.1
click==8.4.2
crispy-bootstrap5==2024.2
dj-database-url==3.1.2
dj-email-url==1.0.6
Django==5.0.14
django-cache-url==3.4.6
django-crispy-forms==2.2
environs==11.0.0
gunicorn==22.0.0
marshmallow==4.3.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
psycopg==3.2.1
psycopg-binary==3.2.1
python-dotenv==1.2.2
pytokens==0.4.1
sqlparse==0.5.5
typing_extensions==4.16.0
whitenoise==6.7.0
